.review {
  margin: 50px 0 10px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewtext {
  font-size: 24px;
  max-width: 600px;
  font-style: italic;
  text-align: center;

}

.author {
  text-align: right;
  max-width: 800px;
}